<div class="card text-center" style="margin-top: 5px">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a id='all' onclick="filterEntity(this.id)" class="nav-link entity-filter" href="#">Tudo</a>
            </li>
            <li class="nav-item">
                <a id='midia' onclick="filterEntity(this.id)" class="nav-link entity-filter" href="#">Fotos/Vídeos</a>
            </li>
            <li class="nav-item">
                <a id='acompanhamento' onclick="filterEntity(this.id)" class="nav-link entity-filter" href="#">Acompanhamentos</a>
            </li>
            <li class="nav-item">
                <a id='parecer' onclick="filterEntity(this.id)" class="nav-link entity-filter" href="#">Pareceres</a>
            </li>
        </ul>
    </div>
    <div class="card-body" style="text-align: left;">
        {% if orientation == 'horizontal' %}
            <div class="card-group-custom card-group-scroll">
        {% endif %}
            {% for timelineElement in timelineElements %}
                {% include 'timeline/_card.html.twig' with {timelineElement: timelineElement, orientation: orientation} only %}
            {% endfor %}
        {% if orientation == 'vertical' %}
        </div>
        {% endif %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>

    <script type="text/javascript">
        $(function() {
            filterEntity = function (entityType) {
                $('.entity-filter').removeClass('active');
                $('a#'+entityType).addClass('active');

                $('.entity-card').css('display','none');
                if(entityType == 'all'){
                    $('.entity-card').css('display','');
                }else{
                    $("div[data-entity='"+entityType+"'").css('display','');
                }
            }
        });
    </script>
{% endblock %}