{% extends 'base.html.twig' %}

{% block title %}Edit Parecer{% endblock %}

{% block body %}
    <h1>Edit Parecer</h1>

    {{ include('parecer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('parecer_index') }}">back to list</a>

    {{ include('parecer/_delete_form.html.twig') }}
{% endblock %}
