{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>
    <button class="btn btn-success float-right" onclick="history.back()">Voltar</button>
{{ form_end(form) }}
