{% extends 'base.html.twig' %}

{% block title %}Edit {{ entityName|capitalize }}{% endblock %}

{% block body %}
    <h1>Edit {{ entityName|capitalize }}</h1>

    {{ include(template.form, {'button_label': 'Salvar'}) }}
{% endblock %}
