{% extends 'base.html.twig' %}

{% block title %}New {{ entityName|capitalize }}{% endblock %}

{% block body %}
    <h1>Criar {{ entityName|capitalize }}</h1>

    {{ include(template.form) }}

{% endblock %}
