{% extends 'base.html.twig' %}

{% block title %}New Educador{% endblock %}

{% block body %}
    <h1>Create new Educador</h1>

    {{ include('educador/_form.html.twig') }}

    {%  include '_partitial/_link_list.html.twig' with {'entity': form.vars.name}  %}
{% endblock %}
