
<div class="container">
    <div class="row" >
        <div class="col-md-12">
            <div style="display:inline-block;width:100%;overflow-y:auto;">
                <ul class="timeline timeline-horizontal">
                    {% for timelineElement in timelineElements %}
                        <li class="timeline-item">
                            {% include 'timeline_old/_timeline_item.html.twig' with {timelineElement: timelineElement} only %}
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('assets/js/jquery.js') }}"></script>

<script>

    function copyValue(data){
        editor = CKEDITOR.instances.{{ entity }}_descricao;
        editor.setData(editor.getData()+data);
    }



</script>