@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$fa-font-path:        "/assets/webfonts";
/*
.table td a{
  @extend .btn;
  @extend .btn-info;
}
*/
body {
  padding-top: 65px;
  background-color: #FFFFFF;
}

.home-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.table{
  @extend .table-striped;
}

.table{
  thead {
    @extend .thead-inverse !optional
  }
}

.navbar-custom {
  background-color: #34495e;
}

i{
  cursor: pointer;
}

.form-delete{
  display: inline;
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

/*
. alunoCardMoved {
  transform: translate(-20px, 20px);
}
*/
.alunoCard {
  transition:all 0.3s linear;
}

.card-link{
  white-space: nowrap;
}

.timeline-midia{
  width: 300px;
  height: 300px;
}

@media (min-width: 576px) {
  .card-group.card-group-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .card-group.card-group-scroll > .card {
    flex-basis: 30%;
    overflow-y: hidden;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 576px) {
  .card-deck.card-deck-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  .card-deck.card-deck-scroll > .card {
    flex-basis: 30%;
    overflow-y: hidden;
    width: 300px;
    height: 300px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.card-horizontal-action{
  margin-left: 50px;
}
