@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

$fa-font-path:        "/assets/webfonts";
/*
.table td a{
  @extend .btn;
  @extend .btn-info;
}
*/
body {
  padding-top: 65px;
  background-color: #FFFFFF;
}

.home-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.table{
  @extend .table-striped;
}

.table{
  thead {
    @extend .thead-inverse !optional
  }
}

.navbar-custom {
  background-color: #34495e;
}

i{
  cursor: pointer;
}

.form-delete{
  display: inline;
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

/*
. alunoCardMoved {
  transform: translate(-20px, 20px);
}
*/
.alunoCard {
  transition:all 0.3s linear;
}

.card-link{
  white-space: nowrap;
}