<form method="post" action="{{ path('formulario_campo_delete', {'id': formulario_campo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formulario_campo.id) }}">
    <button class="btn">Delete</button>
</form>
