{% extends 'base.html.twig' %}

{% block title %}Edit FormularioCampo{% endblock %}

{% block body %}
    <h1>Edit FormularioCampo</h1>

    {{ include('formulario_campo/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('formulario_campo_index') }}">back to list</a>

    {{ include('formulario_campo/_delete_form.html.twig') }}
{% endblock %}
