{% extends 'base.html.twig' %}

{% block title %}Escola{% endblock %}

{% block body %}
    <h1>Escola</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ register.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ register.nome }}</td>
        </tr>
        </tbody>
    </table>

    {{ include(template~'/_show_buttons.html.twig') }}

{% endblock %}
