<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-file"></i> Acompanhamento
    </div>
    <div class="card-body">
        <h6 class="card-title">De: {{ timelineElement.educador.nome }}</h6>
        <p class="card-text"><small class="text-muted">{{ timelineElement.dataHora ? timelineElement.dataHora|date('d/m/Y H:i:s') : '' }}</small></p>
        <p class="card-text">{{ timelineElement.descricao|raw }}</p>

    </div>
</div>