{% extends 'base.html.twig' %}

{% block title %}Edit Formulario{% endblock %}

{% block body %}

    <h1>Edit Formulario</h1>

    {% include('formulario_dinamico/_form.html.twig') %}

{% endblock %}