{% extends 'base.html.twig' %}

{% block title %}Edit Formulario{% endblock %}

{% block body %}

    <h1>Edit Formulario</h1>

    <form method="POST" >
        {% for campo in formulario.formularioCampos %}
            {% if campo.tipo == 'TextType' %}
                {{ include('others/_field_text.html.twig') }}
            {% endif %}
            {% if campo.tipo == 'TextareaType' %}
                {{ include('others/_field_textarea.html.twig') }}
            {% endif %}
        {% endfor %}
        <input type="submit" />
    </form>

    <a href="{{ path('formulario_dinamico_index') }}">back to list</a>

    {{ include('formulario_dinamico/_delete_form.html.twig') }}
{% endblock %}