{% extends 'base.html.twig' %}

{% block title %}Edit Formulario{% endblock %}

{% block body %}
    <h1>Edit Formulario</h1>

    <form method="POST" >
        {% for campo in formulario.formularioCampos %}
            {{ campo.label }}
            <input type="text" name="{{ campo.id }}" />
        {% endfor %}
        <input type="submit" />
    </form>

    <a href="{{ path('formulario_dinamico_index') }}">back to list</a>

    {{ include('formulario_dinamico/_delete_form.html.twig') }}
{% endblock %}