{% extends 'base.html.twig' %}

{% block title %}New Formulario{% endblock %}

{% block body %}
    <h1>Create new Formulario</h1>

    <form method="POST" action="{{ path("formulario_dinamico_new") }}">
        {% for campo in formulario.formularioCampos %}
            {{ campo.label }}
            <input type="text" name="{{ campo.id }}" />
        {% endfor %}
        <input type="submit" />
    </form>

    <a href="{{ path('formulario_dinamico_index') }}">back to list</a>
{% endblock %}
