{% extends 'base.html.twig' %}

{% block title %}Listagem {{ entityName|capitalize }}{% endblock %}

{% set registerListAttr = [] %}
{% for register in registers %}
    {% set registerListAttr = registerListAttr|merge ([{
        'Id': register.id,
        'Data Hora': register.dataHora ? register.dataHora|date('Y-m-d H:i:s') : '',
        'Descrição': register.descricao | raw,
    }]) %}
{% endfor %}

{% set actionList = {
    'new': true,
    'show': true,
    'edit': true,
    'delete': true,
    'image': false,
} %}


{% block body %}
    <h1>Listagem {{ entityName|capitalize }}</h1>
    {{ include(template~'/_index_table.html.twig') }}
    {{ include(template~'/_index_buttons.html.twig') }}
{% endblock %}